@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-sky-500 px-3 py-1 rounded-2xl text-white hover:bg-sky-900 transition
}


.pageTitle {
  @apply text-3xl my-3
}

input {
  @apply border-2 border-gray-400 rounded-2xl px-2
}
